html{
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
}

/* header 相關物件 */
#header-table{
    z-index: 30;
    width: 100%;
    top: 0;
    left: 0;
    /* border-bottom: 1.5pt solid;  */
    border-color: rgba(95, 45, 5, 0.7);
    position: fixed;
    background-color: rgb(214, 154, 113);
}

.index{
    font-size: large;
    font-family: '思源宋體';
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    height: 1em;
    color: rgb(124, 54, 26);
    font-weight: 700;
    margin-right: 0.5em;
}

.index:hover{
    transition: all 0.1s ease-in;
}

.index:not(:hover){
    transition: all 0.5s ease-out;
}


.header-word{
    color: rgb(124, 54, 26);
}

/* 多媒體連結 */
.header-link{
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-top: 0.3em;
}