body {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    margin: 0;
    background-color: #1e1b1b;
}

h1{
    color: rgb(245, 222, 179);
    text-align: center;
    justify-content: center;
    margin-bottom: 5pt;
}

h2{
    margin-top: 2em;
    color: #f5deb3;
    text-align: center;
    justify-content: center;
}

h3{
    margin: 0;
    padding-bottom: 1em;
    color: #f5deb3;
    text-align: center;
    justify-content: center;
}

.button {
    margin-top: 3em;
    display: flex;
    gap: 1em; 
    justify-items: auto;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}


.gamer-button {
    width: 15em;
    height: 15em;
    border: 5px solid wheat;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2em;
    margin: 1em;
}


.gamer-button::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}


.gamer-button:nth-child(1)::before {
    background-image: url('../baseball_pic/player/pitcher.png');
}

.gamer-button:nth-child(2)::before {
    background-image: url('../baseball_pic/player/hitter.png');
}


.gamer-button:hover{
    border: 5px solid rgb(229, 206, 164); 
    background-color: #776a60;

}

.gamer-button:hover::before {
    transform: scale(1.2);

}




#myPieChart {
    max-width: 500px;
    max-height: 500px;
    width: 50%;

}


